#Ignore the following:

# ignore backup joe files:
*.*~ 
*~
DEADJOE
# ignore folder Bin
Bin

#ignore input files
*.in
*.in~

#ignore output directory
*_output_*/

#ignore Input directory
Input/*

#ignore Routines:
Src/Routines/*

#ignore Trash directory
Trash/*

#ignore makes
MyConfig
Makefile
MyModules

#ignore ctags
tags




