###############################################
## My Configurations to be used for Makefile ##
###############################################
####################
## name conventions:
####################

## program name exe:
EXEC := elliptica

## exe directory:
EXEC_DIR := $(TOP)/Exe

#######################################################################
##########################
## modules to be compiled:
##########################

## we need all of the the following modules:
MODULE += $(MODULE_DIR)/Manifold
MODULE += $(MODULE_DIR)/Fields
MODULE += $(MODULE_DIR)/Error_Handlings
MODULE += $(MODULE_DIR)/Text_and_File_Tools
MODULE += $(MODULE_DIR)/Prints
MODULE += $(MODULE_DIR)/Utilities
MODULE += $(MODULE_DIR)/Checkpoint
MODULE += $(MODULE_DIR)/Maths/Linear_Algebra
MODULE += $(MODULE_DIR)/Maths/Field_Analysis
MODULE += $(MODULE_DIR)/Maths/Equation_Solvings
MODULE += $(MODULE_DIR)/Maths/Matrix_Solvers
MODULE += $(MODULE_DIR)/Maths/General
MODULE += $(MODULE_DIR)/Maths/Spectral_Methods
MODULE += $(MODULE_DIR)/Maths/Special_Functions
MODULE += $(MODULE_DIR)/Maths/Calculus
MODULE += $(MODULE_DIR)/Maths/Complex
MODULE += $(MODULE_DIR)/Physics/StressEnergy_Tensor
MODULE += $(MODULE_DIR)/Physics/EoS
MODULE += $(MODULE_DIR)/Physics/Observables
MODULE += $(MODULE_DIR)/Physics/Transformation

# one can comment out these module(s):
#MODULE += $(MODULE_DIR)/Prints/pr_hdf5_silo

########################################################################
###########################
## Projects to be compiled:
###########################

#PROJECT += $(PROJECT_DIR)/Poissons/Poisson0
#PROJECT += $(PROJECT_DIR)/Tests/Modules_Test
#PROJECT += $(PROJECT_DIR)/TOV_star
#PROJECT += $(PROJECT_DIR)/Binary_BH_NS_Initial_Data
#PROJECT += $(PROJECT_DIR)/BH_NS_Initial_Data

########################################################################
##########################
## compiler and its flags:
##########################

#CC = clang
CC = gcc

### compiler flags:
#OFLAGS += -fopenmp -g3
OFLAGS += -fopenmp -O3

### warninng flags for the compiler
#WARN +=# no warnings
#WARN += -std=c11 -pedantic -Wextra -Werror -Wall -W \
  -Wmissing-prototypes -Wstrict-prototypes\
  -Wconversion -Wshadow -Wpointer-arith\
  -Wcast-qual -Wcast-align\
  -Wwrite-strings -Wnested-externs\
  -fshort-enums -fno-common -Dinline= 


### define flags for compiler
DFLAGS += -DPragma_OpenMP_2d -DPragma_OpenMP_1d -DPragma_OpenMP_Patch
########################################################################
##################################
## special inlcudes and libraries:
##################################

# for omp for clang
#SPECIAL_INCS += -I/usr/lib/gcc/x86_64-linux-gnu/6.3.0/include
#SPECIAL_LIBS += -L/usr/lib/gcc/x86_64-linux-gnu/6.3.0

# special includes for suit-sparse and related
SPECIAL_INCS += -I/usr/include/suitesparse
SPECIAL_LIBS += -lblas -lgfortran -llapack -lumfpack

# special libraries for plotting and data file
SPECIAL_LIBS += -lsiloh5

# special libraries for koko regarding plot and print
#SPECIAL_INCS += -I/cm/shared/apps/silo/4.10.2/silo/include
#SPECIAL_LIBS += -L/cm/shared/apps/silo/4.10.2/silo/lib -lsiloh5
########################################################################
