############################################
## The configurations is used by Makefile ##
############################################

######################
## Name conventions ##
######################

## program name exe:
EXEC := elliptica

## exe directory:
EXEC_DIR := $(TOP)/Exe

#####################################
## Projects of interest to compile ##
#####################################

#PROJECT += $(PROJECT_DIR)/Poissons/Poisson0
#PROJECT += $(PROJECT_DIR)/Tests/Modules_Test
#PROJECT += $(PROJECT_DIR)/Initial_Data_Reader
#PROJECT += $(PROJECT_DIR)/BH_NS_Binary_Initial_Data
#PROJECT += $(PROJECT_DIR)/NS_NS_Binary_Initial_Data
#PROJECT += $(PROJECT_DIR)/BH_BH_Binary_Initial_Data
#PROJECT += $(PROJECT_DIR)/Single_BH_Initial_Data
#PROJECT += $(PROJECT_DIR)/Single_NS_Initial_Data

PROJECT += $(PROJECT_DIR)/TOV_star

#####################################
## Project's repositories to clone ##
#####################################
## specify any repo that you want to clone by `make git_clone`

PROJECT_REPO += '--depth=1 git@github.com:rashti-alireza/BH_NS_Binary_Initial_Data.git'
PROJECT_REPO += '--depth=1 git@github.com:rashti-alireza/NS_NS_Binary_Initial_Data.git'
PROJECT_REPO += '--depth=1 git@github.com:rashti-alireza/BH_BH_Binary_Initial_Data.git'
PROJECT_REPO += '--depth=1 git@github.com:rashti-alireza/Single_BH_Initial_Data'
PROJECT_REPO += '--depth=1 git@github.com:rashti-alireza/Single_NS_Initial_Data'

########################
## Modules to compile ##
########################

## we need all of the the following modules:
MODULE += $(MODULE_DIR)/Manifold
MODULE += $(MODULE_DIR)/Fields
MODULE += $(MODULE_DIR)/Error_Handlings
MODULE += $(MODULE_DIR)/Text_and_File_Tools
MODULE += $(MODULE_DIR)/Prints
MODULE += $(MODULE_DIR)/Utilities
MODULE += $(MODULE_DIR)/Checkpoint
MODULE += $(MODULE_DIR)/Maths/Linear_Algebra
MODULE += $(MODULE_DIR)/Maths/Field_Analysis
MODULE += $(MODULE_DIR)/Maths/Equation_Solvings
MODULE += $(MODULE_DIR)/Maths/Matrix_Solvers
MODULE += $(MODULE_DIR)/Maths/General
MODULE += $(MODULE_DIR)/Maths/Spectral_Methods
MODULE += $(MODULE_DIR)/Maths/Special_Functions
MODULE += $(MODULE_DIR)/Maths/Calculus
MODULE += $(MODULE_DIR)/Maths/Complex
MODULE += $(MODULE_DIR)/Maths/Diff_Geom
MODULE += $(MODULE_DIR)/Physics
MODULE += $(MODULE_DIR)/Physics/EoS
MODULE += $(MODULE_DIR)/Physics/Observe
MODULE += $(MODULE_DIR)/Physics/Transformation
MODULE += $(MODULE_DIR)/Physics/StressEnergy_Tensor
MODULE += $(MODULE_DIR)/Physics/Star
MODULE += $(MODULE_DIR)/Physics/BlackHole
MODULE += $(MODULE_DIR)/Physics/System
MODULE += $(MODULE_DIR)/Physics/Free_Data
MODULE += $(MODULE_DIR)/Physics/ADM
MODULE += $(MODULE_DIR)/Physics/Equation

## one can comment out these module(s):
#MODULE += $(MODULE_DIR)/Prints/pr_hdf5_silo


##########################
## Compilation settings ##
##########################

### which compiler:
#CC = clang
CC = gcc
#CC = icc

### compiler flags:
OFLAGS += -O3

### activate open-mp
OFLAGS += -fopenmp
DFLAGS += -DPragma_OpenMP_2d -DPragma_OpenMP_1d -DPragma_OpenMP_Patch

### matrix ccs reader optimizer
DFLAGS += -DCCS_READER_OPTIMIZE

### activate inline calls
DFLAGS += -DINLINE_FUNC

############################
## Includes and libraries ##
############################

### special includes for suit-sparse and related (IMPORTANT)
SPECIAL_INCS += -I/usr/include/suitesparse
SPECIAL_LIBS += -lumfpack


#############
## The END ##
#############
